.main {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    position: relative;
    padding: 20px 5px 5px;
    /* margin: -15px 10px; */
}

.navbar-default .navbar-brand {
  color: #333;
    font-size: 18px;
}


.navbar-default .navbar-nav>li>a {
    border-width: 1px;
    border-color: #ddd;
    border-left-style: solid;
    font-size: 18px;
}


/* lastli is the id of last li in the nav bar. */
#lastli {
        /*margin-right: -15px;*/

}
/*@grid-float-breakpoint: 0px;
*/



.content1 {
    padding: 20px 14px;
    /* margin: 15px; */
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px 4px 0 0;
}

#footer{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px 4px 0 0;
}

#mainHeader{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px 4px 0 0;
    font-size: 20px;
}

@media (min-width: 480px){
    .nav1 {
        float: right !important;
    }

}

/* disable hover effect on the title of navbar 
.navbar-header {
    pointer-events:none;
}
*/


@media (max-width: 480px){
    
        /* disable the line near li and add horizontal lines above them */
        .navbar-default .navbar-nav>li>a {
            border-width: 1px;
            border-color: #ddd;
            border-top-style: solid;
            border-left-style: none;
            border-right-style: none;
            text-align: center;
        }
    
        /* center the title in the navbar */
        .navbar-brand {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
}

/* this rule disables the vertical navbar when screen is between 400 and 768.
*/
@media (max-width: 768px) and (min-width: 480px) {
    
    .navbar-header {
        float: left;
    }

    .navbar {
        border-radius: 4px;
        min-width: 480px;
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }

    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
    .container {
        min-width: 400px;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-static-top {
        border-radius: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }

    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-text {
        float: center;
        margin-right: 15px;
        margin-left: 15px;
    }
    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    } 
}
